MyConsoleApp/MyConsoleApp.csproj
MyConsoleApp/Program.cs
MyConsoleApp/bin/Debug/net6.0/MyConsoleApp.deps.json
MyConsoleApp/bin/Debug/net6.0/MyConsoleApp.dll
MyConsoleApp/bin/Debug/net6.0/MyConsoleApp.exe
MyConsoleApp/bin/Debug/net6.0/MyConsoleApp.pdb
MyConsoleApp/bin/Debug/net6.0/MyConsoleApp.runtimeconfig.json
MyConsoleApp/obj/MyConsoleApp.csproj.nuget.dgspec.json
MyConsoleApp/obj/MyConsoleApp.csproj.nuget.g.props
MyConsoleApp/obj/MyConsoleApp.csproj.nuget.g.targets
MyConsoleApp/obj/project.assets.json
MyConsoleApp/obj/project.nuget.cache
MyConsoleApp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MyConsoleApp/obj/Debug/net6.0/apphost.exe
MyConsoleApp/obj/Debug/net6.0/MyConsoleApp.AssemblyInfo.cs
MyConsoleApp/obj/Debug/net6.0/MyConsoleApp.AssemblyInfoInputs.cache
MyConsoleApp/obj/Debug/net6.0/MyConsoleApp.assets.cache
MyConsoleApp/obj/Debug/net6.0/MyConsoleApp.csproj.AssemblyReference.cache
MyConsoleApp/obj/Debug/net6.0/MyConsoleApp.csproj.CoreCompileInputs.cache
MyConsoleApp/obj/Debug/net6.0/MyConsoleApp.csproj.FileListAbsolute.txt
MyConsoleApp/obj/Debug/net6.0/MyConsoleApp.dll
MyConsoleApp/obj/Debug/net6.0/MyConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
MyConsoleApp/obj/Debug/net6.0/MyConsoleApp.genruntimeconfig.cache
MyConsoleApp/obj/Debug/net6.0/MyConsoleApp.GlobalUsings.g.cs
MyConsoleApp/obj/Debug/net6.0/MyConsoleApp.pdb
MyConsoleApp/obj/Debug/net6.0/ref/MyConsoleApp.dll
MyConsoleApp/obj/Debug/net6.0/refint/MyConsoleApp.dll
MyNewProject/MyNewProject.csproj
MyNewProject/MyNewProject.sln
MyNewProject/Program.cs
MyNewProject/bin/Debug/net6.0/MyNewProject.deps.json
MyNewProject/bin/Debug/net6.0/MyNewProject.dll
MyNewProject/bin/Debug/net6.0/MyNewProject.exe
MyNewProject/bin/Debug/net6.0/MyNewProject.pdb
MyNewProject/bin/Debug/net6.0/MyNewProject.runtimeconfig.json
MyNewProject/obj/MyNewProject.csproj.nuget.dgspec.json
MyNewProject/obj/MyNewProject.csproj.nuget.g.props
MyNewProject/obj/MyNewProject.csproj.nuget.g.targets
MyNewProject/obj/project.assets.json
MyNewProject/obj/project.nuget.cache
MyNewProject/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MyNewProject/obj/Debug/net6.0/apphost.exe
MyNewProject/obj/Debug/net6.0/MyNewProject.AssemblyInfo.cs
MyNewProject/obj/Debug/net6.0/MyNewProject.AssemblyInfoInputs.cache
MyNewProject/obj/Debug/net6.0/MyNewProject.assets.cache
MyNewProject/obj/Debug/net6.0/MyNewProject.csproj.CoreCompileInputs.cache
MyNewProject/obj/Debug/net6.0/MyNewProject.csproj.FileListAbsolute.txt
MyNewProject/obj/Debug/net6.0/MyNewProject.dll
MyNewProject/obj/Debug/net6.0/MyNewProject.GeneratedMSBuildEditorConfig.editorconfig
MyNewProject/obj/Debug/net6.0/MyNewProject.genruntimeconfig.cache
MyNewProject/obj/Debug/net6.0/MyNewProject.GlobalUsings.g.cs
MyNewProject/obj/Debug/net6.0/MyNewProject.pdb
MyNewProject/obj/Debug/net6.0/MyNewProject.sourcelink.json
MyNewProject/obj/Debug/net6.0/ref/MyNewProject.dll
MyNewProject/obj/Debug/net6.0/refint/MyNewProject.dll
Алгоритмизация/1сем/РГР/РГР_Аип (исправленный вариант номер 3 от 14.01.2025).docx
