MyNewProject/MyNewProject.csproj
MyNewProject/Program.cs
MyNewProject/obj/MyNewProject.csproj.nuget.dgspec.json
MyNewProject/obj/MyNewProject.csproj.nuget.g.props
MyNewProject/obj/MyNewProject.csproj.nuget.g.targets
MyNewProject/obj/project.assets.json
MyNewProject/obj/project.nuget.cache
MyNewProject/MyNewProject.sln
MyNewProject/bin/Debug/net6.0/MyNewProject.deps.json
MyNewProject/bin/Debug/net6.0/MyNewProject.dll
MyNewProject/bin/Debug/net6.0/MyNewProject.exe
MyNewProject/bin/Debug/net6.0/MyNewProject.pdb
MyNewProject/bin/Debug/net6.0/MyNewProject.runtimeconfig.json
MyNewProject/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MyNewProject/obj/Debug/net6.0/apphost.exe
MyNewProject/obj/Debug/net6.0/MyNewProject.AssemblyInfo.cs
MyNewProject/obj/Debug/net6.0/MyNewProject.AssemblyInfoInputs.cache
MyNewProject/obj/Debug/net6.0/MyNewProject.assets.cache
MyNewProject/obj/Debug/net6.0/MyNewProject.csproj.CoreCompileInputs.cache
MyNewProject/obj/Debug/net6.0/MyNewProject.csproj.FileListAbsolute.txt
MyNewProject/obj/Debug/net6.0/MyNewProject.dll
MyNewProject/obj/Debug/net6.0/MyNewProject.GeneratedMSBuildEditorConfig.editorconfig
MyNewProject/obj/Debug/net6.0/MyNewProject.genruntimeconfig.cache
MyNewProject/obj/Debug/net6.0/MyNewProject.GlobalUsings.g.cs
MyNewProject/obj/Debug/net6.0/MyNewProject.pdb
MyNewProject/obj/Debug/net6.0/ref/MyNewProject.dll
MyNewProject/obj/Debug/net6.0/refint/MyNewProject.dll
MyNewProject/obj/Debug/net6.0/MyNewProject.sourcelink.json
Алгоритмизация/1сем/Лабораторные_Работы/lab05.12_NO_END.cs
