MyDemoProject/MyDemoProject.csproj
MyDemoProject/Program.cs
MyDemoProject/bin/Debug/net9.0/MyDemoProject.deps.json
MyDemoProject/bin/Debug/net9.0/MyDemoProject.dll
MyDemoProject/bin/Debug/net9.0/MyDemoProject.exe
MyDemoProject/bin/Debug/net9.0/MyDemoProject.pdb
MyDemoProject/bin/Debug/net9.0/MyDemoProject.runtimeconfig.json
MyDemoProject/obj/MyDemoProject.csproj.nuget.dgspec.json
MyDemoProject/obj/MyDemoProject.csproj.nuget.g.props
MyDemoProject/obj/MyDemoProject.csproj.nuget.g.targets
MyDemoProject/obj/project.assets.json
MyDemoProject/obj/project.nuget.cache
MyDemoProject/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
MyDemoProject/obj/Debug/net9.0/apphost.exe
MyDemoProject/obj/Debug/net9.0/MyDemoProject.AssemblyInfo.cs
MyDemoProject/obj/Debug/net9.0/MyDemoProject.AssemblyInfoInputs.cache
MyDemoProject/obj/Debug/net9.0/MyDemoProject.assets.cache
MyDemoProject/obj/Debug/net9.0/MyDemoProject.csproj.CoreCompileInputs.cache
MyDemoProject/obj/Debug/net9.0/MyDemoProject.csproj.FileListAbsolute.txt
MyDemoProject/obj/Debug/net9.0/MyDemoProject.dll
MyDemoProject/obj/Debug/net9.0/MyDemoProject.GeneratedMSBuildEditorConfig.editorconfig
MyDemoProject/obj/Debug/net9.0/MyDemoProject.genruntimeconfig.cache
MyDemoProject/obj/Debug/net9.0/MyDemoProject.GlobalUsings.g.cs
MyDemoProject/obj/Debug/net9.0/MyDemoProject.pdb
MyDemoProject/obj/Debug/net9.0/MyDemoProject.sourcelink.json
MyDemoProject/obj/Debug/net9.0/ref/MyDemoProject.dll
MyDemoProject/obj/Debug/net9.0/refint/MyDemoProject.dll
.gitignore
